# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
*.sqlite

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*

# Visual Studio 2015/2017 cache/options directory
.vs/

# lock files
yarn.lock
package-lock.json
