export { {{pascalCase name}} };

function {{pascalCase name}}() {
    return (
        <div class="row">
            <div class="col-md-12">
                <h1>{{pascalCase name}}</h1>
            </div>
        </div>
    );
}

export default {{pascalCase name}};